{% extends "base.html" %}

{% block content %}

<style>
  #id_username, #id_password {
    width: 100% !important;
  }
</style>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card shadow-lg rounded-4">
        <div class="card-body p-4">
          <h2 class="text-center mb-4">Вход</h2>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Войти</button>
          </form>

          {% if form.errors %}
            <p class="text-danger text-center mt-3">
              Неверное имя пользователя или пароль.
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}



