{% extends "base.html" %}

{% block content %}

<h1>Пользователи</h1>

<table class="table table-striped">
    <thead>
    <tr>
    <th>id</th>
    <th>Имя пользователя</th>
    <th>Полное имя</th>
    <th>Дата создания</th>
    <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.first_name }} {{ user.last_name }}</td>
      <td>{{ user.date_joined|date:"d.m.Y" }}</td>
        <td class=''>
            <a class="btn btn-primary" href="{% url 'delete_user' user.id %}" role="button">Удалить</a>
            <a class="btn btn-primary" href="{% url 'update_user' user.id %}" role="button">Изменить</a>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock %}