{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% bootstrap_css %}
  <title>{% block title %}Менеджер задач{% endblock %}</title>
</head>
<body >

<nav class="navbar" style="background-color: #e3f2fd;" data-bs-theme="light">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Менеджер задач</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'users:index' %}">Пользователи</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'statuses:index' %}">Статусы</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="{% url 'labels:index' %}">Метки</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'tasks:index' %}">Задачи</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="{% url 'users:index' %}">Выход</a>
    </li>
    {% else %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'login' %}">Вход</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'users:create' %}">Регистрация</a>
</li>
{% endif %}
  </ul>
  {% if user.is_authenticated %}
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Привет, {{ user.username }}!</a>
    </li>
  </ul>
 {% endif %}
</nav>



<div class="container mt-4">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    {% endfor %}
  {% endif %}

  {% block content %}
  {% endblock %}
</div>

{% bootstrap_javascript %}
</body>
</html>

